body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(#eecda3, #ef629f);
    display: flex;
    height: 100vh;
    width: 100vw;
}

h1{
    border: double mediumspringgreen 3px;
    border-left: 0;
    border-right: 0;
    color:navy;
}

.flex-box{
    display: flex; 
    align-items: center;
    justify-content: center;   
}

.wrapper{
    border: solid purple 5px;
}

canvas#signature-pad{
    background-color: oldlace;
    width: 100%;
    height: 100%;
    cursor:crosshair;
}

button#clear{ 
    border: solid 1px transparent;
    width:70px;
    height: 310px;
    display: block;
    font-weight: 600;
    background-color: royalblue;
}

button#clear span{
    transform: rotate(90deg);
    display: block;
}